@using BlogMvcApp.Models
@model BlogMvcApp.DLL.Entities.Article

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Article", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <h3>Create new article</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <h6>Choose tags:</h6>
        @Html.DropDownList("tag", ViewBag.Tags as SelectList, new { id = "tagChooser"})
        <a class="btn btn-light" id="tagAdder">Add tag</a>
        
        <div id="tagsBlock" class="card-group"></div>

        <input type="hidden" name="Date" value="@DateTime.Now" />
        <input type="hidden" name="IsDeleted" value="false" />

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@section Scripts
{
    <script>
        
        $(function () {
            var tags = [];
            $('#tagAdder').click(function () {
                var chooserVal = $("#tagChooser").val();
                var responseText = "";

                $.ajax({
                    type: "GET",
                    url: "/Article/TagAdder?tagName=" + chooserVal,
                    async: false,
                    success: function(text) {
                        responseText = text;
                    }
                });

                if (!tags.includes(chooserVal)) {
                    tags.push(chooserVal);
                    $('#tagsBlock').append(responseText);
                }
            });
        })
    </script>
}