@using BlogMvcApp.Infrastructure.Mapper
@model BlogMvcApp.DLL.Entities.Article

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Date)
        @Html.HiddenFor(model => model.IsDeleted)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h6>Choose tags:</h6>
            @Html.DropDownList("tag", ViewBag.Tags as SelectList, new { id = "tagChooser" })
            <a class="btn btn-light" id="tagAdder">Add tag</a>
            <div id="tagsBlock" class="card-group">
                @Helpers.CreateTagsForEdit(Model.Tags.ToTagVm())
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section Scripts
{
    <script>

        $(function () {

            var tags = $(".tag-text").text().split(/(?=[A-Z])/); // "ForExm" => ["For", "Exm"]

            $('.tag-delete').click(function () {
                tags.splice(tags.indexOf($(this).prev().text()), 1);
                $(this).closest(".tag-update").empty();
            });

            $('#tagAdder').click(function () {
                var chooserVal = $("#tagChooser").val();
                var responseText = "";

                $.ajax({
                    type: "GET",
                    url: "/Article/TagAdder?tagName=" + chooserVal,
                    async: false,
                    success: function(text) {
                        responseText = text;
                    }
                });

                if (!tags.includes(chooserVal)) {
                    tags.push(chooserVal);
                    $('#tagsBlock').append(responseText);
                }

                $('.tag-delete').click(function () {
                    tags.splice(tags.indexOf($(this).prev().text()), 1);
                    $(this).closest(".tag-update").empty();
                });
            });
        })
    </script>
}