@model BlogMvcApp.DLL.Entities.Questionnaire

@{
    ViewBag.Title = "Questionnaire";
}

<h3 class="text-center">Questionnaire for article selection</h3>
<hr />
<div class="container w-75">
    @using (Html.BeginForm("Result", "Profile", FormMethod.Post))
    {
        <div class="row">
            <div class="form-group col-md-6">
                <h6>First name</h6>
                @Html.TextBox("FirstName", null, new { @class = "form-control" })
            </div>
            <div class="form-group col-md-6">
                <h6>Last name</h6>
                @Html.TextBox("LastName", null, new { @class = "form-control" })
            </div>
            <div class="w-100"></div>
            <div class="form-group container">
                <h6>Gender</h6>
                @Helpers.CreateCustomRadioButton("Gender", "r1", "male", "Male")
                @Helpers.CreateCustomRadioButton("Gender", "r2", "female", "Female")
                @Helpers.CreateCustomRadioButton("Gender", "r3", "custom", "Other")
            </div>
            <div class="form-group container">
                <h6>Mood</h6>
                @Helpers.CreateCustomCheckBox("IsAlone", "c1", "You feel lonely")
                @Helpers.CreateCustomCheckBox("IsStable", "c2", "You feel angry")
            </div>
            <div class="form-group container">
                <h6>Language</h6>
                @Helpers.CreateSelect("Language", new List<string> { "English", "Русский" })
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    }
</div>


@section RightSideBar
{
    @Html.Partial("RightSideBar")
}

@section Scripts
{
    <script>
        $(function () {
            $('#right-column').removeClass("col-lg-2").addClass("col-lg-1");
            $('#left-column').removeClass("col-lg-2").addClass("col-lg-1");
        });
    </script>
}