@using BlogMvcApp.Models


@helper CreateCustomCheckBox(string name, string id, string labelText)
{
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id=@id name=@name value="true" />
        <input class="custom-control-input" name=@name id=@id value="false" type="hidden" />
        <label class="custom-control-label" for=@id>@labelText</label>
    </div>
}

@helper CreateSelect(string name, List<string> options)
{
    <select name="@name" class="custom-select" required>
        <option>Choose...</option>
        @foreach (var option in options)
        {
            <option value=@option>@option</option>
        }
    </select>
}

@helper CreateCustomRadioButton(string name, string id, string value, string labelText)
{
    <div class="custom-control custom-radio">
        <input type="radio" id=@id name=@name class="custom-control-input" value=@value>
        <label class="custom-control-label" for=@id>@labelText</label>
    </div>
}

@helper CreateDropDownListTags(IEnumerable<TagViewModel> tags)
{
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var tag in tags)
        {
            <a class="dropdown-item" href="/Article/Tag/?tag=@tag.Name">@tag.Name</a>
        }
    </div>
}

@helper CreateArticles(IEnumerable<ArticleAdViewModel> articles)
{
    foreach (var article in articles)
    {
        <div class="card flex-md-row m-2 shadow">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <a class="text-dark" href="/Article/Display/@article.Id">@article.Title</a>
                </h3>
                <div class="mb-1 text-muted">
                    @article.Date by
                    <a href="/Account/Display?authorName=@article.Author">@article.Author</a>
                </div>
                <p class="card-text mb-auto">@article.Text...</p>
                <div class="container">
                    <a href="/Article/Display/@article.Id" class="float-left">Continue reading</a>
                    <h6 class="text-muted float-right">@article.CommentCount Comments.</h6>
                </div>
            </div>
        </div>
    }
}

@helper CreateTags(IEnumerable<TagViewModel> tags)
{
    <div class="card-group">
        @foreach (var tag in tags)
        {
            <a class="rounded shadow-sm p-2 m-2 text-decoration-none"
               style="background-color:@tag.Color" href="/Article/Tag?tagName=@tag.Name">
                <h6 class="text-light">@tag.Name</h6>
            </a>

        }
    </div>
}

@helper CreateTag(TagViewModel tag)
{
    <div class="tag-update">
        <div class="rounded shadow-sm p-2 m-2" style="background-color:@tag.Color">
            <h6 class="text-light d-inline tag-text">@tag.Name</h6>
            <a class="tag-delete fa fa-close ml-2" style="cursor: pointer"></a>
            <input type="hidden" value="@tag.Name" name="tagNames" />
        </div>
    </div>
}

@helper CreateTagsForEdit(IEnumerable<TagViewModel> tags)
{
    foreach (var tag in tags)
    {
        <div class="tag-update">
            <div class="rounded shadow-sm p-2 m-2" style="background-color: @tag.Color">
                <h6 class="text-light d-inline tag-text">@tag.Name</h6>
                <a class="tag-delete fa fa-close ml-2" style="cursor: pointer"></a>
                <input type="hidden" value="@tag.Name" name="tagNames" />
            </div>
        </div>
    }
}


