@using BlogMvcApp.Models
@helper CreateCustomCheckBox(string name, string id, string labelText)
{
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id=@id name=@name value="true" />
        <input class="custom-control-input" name=@name id=@id value="false" type="hidden" />
        <label class="custom-control-label" for=@id>@labelText</label>
    </div>
}

@helper CreateSelect(string name, List<string> options)
{
    <select name="@name" class="custom-select" required>
        <option>Choose...</option>
        @foreach (string option in options)
        {
            <option value=@option>@option</option>
        }
    </select>
}

@helper CreateCustomRadioButton(string name, string id, string value, string labelText)
{
    <div class="custom-control custom-radio">
        <input type="radio" id=@id name=@name class="custom-control-input" value=@value>
        <label class="custom-control-label" for=@id>@labelText</label>
    </div>
}

@helper CreateDropDownListGenre(IEnumerable<BlogMvcApp.DLL.Entities.Genre> genres)
{
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var genre in genres)
        {
            <a class="dropdown-item" href="/Article/Genre/?genreName=@genre.Name">@genre.Name</a>
        }
    </div>
}

@helper CreateArticles(IEnumerable<ArticleAdViewModel> articles)
{
    foreach (var article in articles)
    {
        <div class="card flex-md-row m-2 shadow">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <a class="text-dark" href="/Article/Display/@article.Id">@article.Title</a>
                </h3>
                <div class="mb-1 text-muted">
                    @article.Date by
                    <i>@article.Author</i>
                </div>
                <p class="card-text mb-auto">@article.Text...</p>
                <div class="container">
                    <a href="/Article/Display/@article.Id" class="float-left">Continue reading</a>
                    <h6 class="text-muted float-right">@article.CommentCount Comments.</h6>
                </div>
            </div>
        </div>
    }
}