<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog</title>
    @Styles.Render("~/Content/css")
</head>
<body style="overflow-x:hidden">
    <a name="top" class="hide"></a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/Home/Index">
            <img src="~/Content/logo.png" width="80" alt="Logo" />
            Blog
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Index">Article <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Article/Create">Create article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Profile/Index">Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="min-vh-100">
        <div class="row mt-3">
            <div class="col-lg-1 col-sm-1"></div>
            <div class="col-lg-8 col-sm-10 col-12">
                @RenderBody()
            </div>
            <div class="col-lg-2 col-sm-2">
                <div class="flex-column">
                    @Html.Action("Tags", "Home")
                    @RenderSection("Voting", false)
                </div>
            </div>
            <div class="col-lg-1 col-sm-1"></div>
        </div>
    </main>

    <footer class="footer bg-light mt-3 w-100">
        <div class="container">
            <p class="float-left text-muted mt-2">© Bohdan Mukha</p>
            <a href="#top" class="card-link float-right mt-2">Back to top</a>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function () {

        })
    </script>
</body>
</html>
